.height {
  height: 85vh;
}

.brand-logo {
  margin-left: 5%;
}

.icon-block {
  padding: 0 15px;
}

.parallax-container {
  height: 70vh;
}

.products {
  width: 320px;
  height: 385px;
  margin: auto;
}

.btn-small {
  margin: 20px auto;
}

#nossos-produtos {
  font-family: "Germania One", cursive;
  font-size: 22px;
}

#missao {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  color: #ee6e73;
}

#gif {
  height: 300px;
}

#missao-titulo {
  font-family: "Baloo Chettan", cursive;
  text-shadow: 3px 1px 10px #f5f5f5;
}

#last-parallax {
  height: 50vh;
}

#github {
  width: 35px;
  height: 35px;
}

#insta {
  margin-right: 5%;
  margin-top: 18px;
  width: 30px;
  height: 30px;
}

.foot-links {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

@media only screen and (max-width: 600px) {
  .height {
    height: 100vh;
  }
}
